

  input {
      font-size: 12px;
  }





  #choose-place {


  }

  #sulphur-baths {
      margin-top: 10px;

      display: none;
  }

  #museum {

      display: none;
      margin-top: 10px;
  }

  #fortress {

      display: none;
      margin-top: 10px;
  }

  #basilica {

      display: none;
      margin-top: 10px;
  }

  #waterfall {

      display: none;
      margin-top: 10px;
  }

  #bridge {

      display: none;
      margin-top: 10px;
  }

 #hide-listings {

      display: none;
     margin-top: 10px;
  }


#map {

      height: 100%;
    position: absolute;
     width: auto;
      right: 0;
      left: 300px;*/
  }
@media (max-width:768px) {

#map {

      height: 100%;
    position: absolute;
     width: auto;
      right: 0;
      left: 30px;*/
  }
}

  .options-box {
      background: #fff;
      border: 1px solid #999;
      border-radius: 6px;

  }

  #pano {
      width: 200px;
      height: 200px;
  }



